
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
:root{

  --bg-color:#131722;
  --light-pg:#24baef;
  --main-font:"Montserrat", sans-serif;
  --font-color:#fff;
}
body {
 font-family: var(--main-font);
 background-color: var(--bg-color);
 color: var(--font-color);
}
/* common style */
a{
  color: var(--font-color);
  text-decoration: none;
}
.my-imnput{
  background-color: transparent;
  border: 1px solid #a8a8a83d;
  color: var(--font-color);
}
/* common style */
